name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: "0"
  CARGO_PROFILE_RELEASE_LTO: "false"
  CARGO_PROFILE_RELEASE_CODEGEN_UNITS: "16"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release --out dist
          sccache: 'true'
          manylinux: off
